<!-- templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="navbar">
      <!-- ナビゲーションバー -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/home}">tw7 - spring boot demo</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home}">
                Home <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/thymeleaf}">Thymeleaf</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/api}">RestAPI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/form-validation}">Form+Validation</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
